<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste chambre climatisée</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        
        .table-responsive {
            overflow-x: auto; /* Ajout de défilement horizontal uniquement si nécessaire */
        }
        table {
            width: 100%;
        }
        th, td {
            text-align: center;
        }
        .table thead th {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
  {% include 'navbar.html' %}
    <div class="container mt-5">
        <!-- Classe Bootstrap pour le fond bleu et le texte en blanc -->
        <h2 class="text-center bg-primary text-white p-3">Liste des chambres climatisées</h2>

        <!-- Div pour centrer le contenu -->
        <div class="text-center mb-4">
            <h4 class="alert alert-info">Montrer les informations des chambres climatisées</h4>
        </div>
        
        <div class="table-responsive">
            {% if utilisateur %}
            <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nom complet de l'utilisateur</th>
                    <th scope="col">Mail utilisateur</th>
                    <th scope="col">Mot de passe utilisateur</th>
                    <th scope="col">Prix Nuitée</th>
                
                   
                  </tr>
                </thead>
                <tbody>
                    {% for user in utilisateur %}
                  <tr>
                    <th scope="row">{{affiche.id}}</th>
                    <td>{{user.nom_complet}}</td>
                    <td>{{user.mail_utilisateur}}</td>
                    <td>{{user.mot_de_passe}}</td>
                  
                  
                    
                  </tr>
                  {% endfor %}
                </tbody> 
              </table>
            {% else %}
            <div class="alert alert-warning text-center" role="alert">
                Pas enregistré
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Popper.js doit être inclus avant Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
