{% extends 'utilisateur/base.html' %}
{% load static %}

{% block title %}
	Formulaire de contact
{% endblock %}

{% block description %}
	<meta name="description" content="Contactez Espace Karibu pour toute question ou demande de réservation. Nous sommes là pour vous offrir le meilleur service." />
{% endblock %}

{% block motCles %}
	<meta name="keywords" content="contact Espace Karibu, demande de réservation, numéro de téléphone Espace Karibu, email Espace Karibu, adresse Espace Karibu, contacter hôtel, informations contact, demande d'informations, support client" />
{% endblock %}

{% block content %}


    <div class="flex flex-col md:flex-row">
        <!-- Faire que l'image s'affiche sur grand ecran seulement -->
        <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
            <!-- Pour que la taille des inputs ne change pas -->
            <div class="w-full max-w-xl">
                <div class="py-14">
                    <img src="{% static 'karibu/assets/images/event-2.jpg' %}" alt="logo.png" class="w-96 mx-auto mt-10 sm:w-[400px] lg:w-[350px] md:hidden">
                </div>
                    <h2 class="text-center font-bold text-xl underline mb-5">
                        Contactez-nous
                    </h2>
                <section class="relative px-14 ">

                    <form method="POST" class="block">
                        {% csrf_token %}
                        <label for="name">Nom Complet <span class="text-red-500">*</span> </label>
                        {{ formContact.nom_complet }}

                        <label for="email">Email <span class="text-red-500">*</span> </label>
                        {{ formContact.email }}

                        <label for="message">Message <span class="text-red-500">*</span> </label>
                        {{ formContact.message }}

                        <button type="submit" class="bg-violet-600 text-white justify-center items-center mx-auto  py-3 w-full rounded-md" >
                            envoyer
                        </button>

                    </form>
                </section>
           </div>
        </div>
            <!-- l'image apparait seulement quand on est sur grand ecran -->
            <div class="hidden md:block w-full md:w-1/2">
                <img src="{% static 'karibu/assets/images/event-2.jpg' %}" alt="logo.png" class="h-full w-full object-cover">
            </div>
    </div>


{% endblock %}