
<div class="md:hidden">

    <div class="flex items-center justify-center min-h-20">
        <div class="container swiper">
            <div class="card-wrapper">
                <ul class="card-list swiper-wrapper">
                    
                    {% if detailChambre %}
                        
                    <li class="card-item swiper-slide">
                        
                        <a href="#" class="card-link">
                            <img src="{{ detailChambre.photo1.url }}" alt="Card Image"
                            class="card-image object-cover">
                       
                        </a>
                    
                    </li>
                        
                        <li class="card-item swiper-slide">
                        
                            <a href="#" class="card-link">
                                <img src="{{ detailChambre.photo2.url }}" alt="Card Image"
                                class="card-image object-cover">
                           
                            </a>
                    
                        </li>
                        
                        <li class="card-item swiper-slide">
                        
                            <a href="#" class="card-link">
                                <img src="{{ detailChambre.photo3.url }}" alt="Card Image"
                                class="card-image object-cover">
                           
                            </a>
                    
                        </li>
                        
                        <li class="card-item swiper-slide">
                        
                            <a href="#" class="card-link">
                                <img src="{{ detailChambre.photo4.url }}" alt="Card Image"
                                class="card-image object-cover">
                           
                            </a>
                        
                        </li>
                    
                    {% endif %} 
                    
                </ul>

                <!-- Affiche la pagination en bas des bouttons  -->
                <div class="swiper-pagination"></div>
                
            </div>
        </div>
    </div>

    <div class="mx-5">
        <h2 class="underline font-bold text-lg text-center">Détail de la chambre</h2>
        <p class="mb-4">
            <h2 class="font-bold text-lg">
                {{ type }}
            </h2>
            <span> {{ detailChambre.description }} </span>
        </p> 
        <p>
            <h2 class="font-bold text-lg">Le prix de l'hotel </h2>
            <span>Nuitée: {{ detailChambre.prix_nuite }} </span>
            <span>Journée: {{ detailChambre.prix_journee }} </span>
        </p>
        <div class="justify-center flex sm:mb-5 mb-5">
            <a class="mt-5 text-white bg-violet-500
              items-center py-2 px-5 rounded-lg" 
              href="{% url 'reservationChambre' idChambre %}">
                Reservez
            </a>
          </div>
    </div>
</div>

<!-- Grand ecran -->
<section class="hidden max-w-7xl mx-auto px-3 py-5 md:block">
        <h2 class="hidden text-xl mb-8 underline text-center">
            Confirmez votre reservation 
        </h2>
        <div class="container flex flex-col md:flex-row sm:justify-around mx-7">
            <div class="flex-shrink-0 w-full sm:w-auto">
                <img src="{{ detailChambre.photo1.url }}" class="object-cover md:max-w-[350px] md:h-full w-full">
            </div>
            <div class="mx-5 max-w-[350px]">
                <h2 class="underline font-bold text-lg text-center">Détail de la chambre</h2>
                <p class="mb-4">
                    <h2 class="font-bold text-lg">
                        {{ type }}
                    </h2>
                    <span class="">{{ detailChambre.description }}</span>
                </p> 
                <p>
                    <h2 class="font-bold text-lg">Le prix de l'hotel </h2>
                    <span>Nuitée: {{ detailChambre.prix_nuite }} </span>
                    <span>Journée: {{ detailChambre.prix_journee }} </span>
                </p>
                <div class="justify-center flex">
                    <a class="mt-5 text-white bg-violet-500
                      items-center py-2 px-5 rounded-lg" 
                      href="{% url 'reservationChambre' idChambre %}">
                        Reservez
                    </a>
                  </div>
            </div>  
        </div>
   
</section> 
