{% extends 'utilisateur/base.html' %}

{% block title %}
	Details de la chambre
{% endblock %}

{% block content %}


    {% include 'utilisateur/corpsDetailChambre.html' %}



    <section class="mx-auto bg-gradient-to-r from-violet-400 to-blue-500 pb-5 pt-2">
        <h2 class="text-center text-bold text-white pt-3"> Vos Avantages</h2>
            <ul class="flex flex-col md:flex-row justify-center ml-10 text-white list-disc flex-grap mt-5">
                {% if type == 'SUITE' %}
                    <li class="sm:mx-5">Climatisation, Télévision, Douche, Cuisine, Services de chambre.</li>
                {% elif type == 'CHAMBRE CLIMATISEE' %}

                    <li class="sm:mx-5">Climatisation, Télévision, Douche, Services de chambre.</li>

                {% else %}

                    <li class="sm:mx-5">Ventilation, Télévision, douche, Services de chambre.</li>

                {% endif %}
            </ul>
    </section>
    <section class="max-w-7xl mx-auto px-4 py-10 mt-7">
    <div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 ">

        {% if chambres %}

            {% for chambre in chambres %}

                <a href="{% url 'detailsChambre' chambre.id %}" class="flex items-center justify-center px-4 py-2
                font-semibold text-smrounded-lg text-white">
                    <div>
                        <img src=" {{ chambre.photo1.url }}" class="w-full h-48 object-cover md:h-full">
                        <p class=" mt-2 font-semibold text-center">{{ chambre.description}}</p>
                        <h5>Nuitée: {{ chambre.prix_nuite }}Fcfa</h5>
                        <h5>Journée: {{ chambre.prix_journee }}Fcfa</h5>
                    </div>
                </a>

            {% endfor %}


        {% endif %}


    </div>





</section>



{% endblock %}

