{% extends 'utilisateur/base.html' %}
{% load static %}


{% block title %}
	Espace événementiel à Espace Karibu - Organisation d'événements avec garage et mini-barx
{% endblock %}

{% block description %}
	<meta name="description" content="Découvrez l'espace événementiel d'Espace Karibu, idéal pour vos réceptions et événements. Profitez d'un garage privé et d'un mini-bar pour une expérience conviviale et pratique." />
{% endblock %}

{% block motCles %}
	<meta name="keywords" content="espace événementiel, Espace Karibu, événement, mini-bar, garage, location événement, organisation de réceptions, salles de réception" />
{% endblock %}

{% block content %}

<section class="text-center">

    {% include 'utilisateur/sliderevent.html' %}

</section>
<section class="py-2 mt-5 text-center">
    <p class="font-bold text-3xl text-black">Pour la réussite de votre événement </p>
</section>

<!-- Partie des avantages -->
<section class="max-w-7xl mx-auto px-4 ">
    <p class="text-xl font-bold text-black text-center">
        A votre dispositon
    </p>
    <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <a href="{% url 'espace_event' %}" class=" flex items-center justify-center px-4 py-2
                        font-semibold text-smrounded-lg text-white">
                <div class="border px-2 py-3 text-center">
                    <img src="{% static 'karibu/assets/icons/reception.jpg' %}" class="mx-auto object-cover md:h-full w-14">
                    <h4 class="py-2 text-sm font-bold">SALLE DE RECEPTION</h4>
                    <p class=" mt-2 font-semibold text-center">
                        {{ espace.descriptionSalleReception }}
                    </p>
                </div>
        </a>
        <a href="{% url 'espace_event' %}" class=" flex items-center justify-center px-4 py-2
                        font-semibold text-smrounded-lg text-white">
                <div class="border px-2 py-3 text-center">
                    <img src="{% static 'karibu/assets/icons/vip(1).png' %}" class="mx-auto object-cover md:h-full w-14">
                    <h4 class="py-2 text-sm font-bold">SALLE VIP</h4>
                    <p class=" mt-2 font-semibold text-center">
                        {{ espace.descriptionSalleVip }}
                    </p>
                </div>
        </a>
        <a href="{% url 'espace_event' %}" class=" flex items-center justify-center px-4 py-2
                font-semibold text-smrounded-lg text-white">
                <div class="border px-2 py-3 text-center">
                    <img src="{% static 'karibu/assets/icons/garage.png' %}" class="mx-auto object-cover md:h-full w-14">
                    <h4 class="py-2 text-sm font-bold" > GARAGE</h4>
                    <p class=" mt-2 font-semibold text-center">
                        {{ espace.descriptionGarage }}
                    </p>
                </div>
        </a>
    </div>

</section>



<!-- Partie Espace Karibu unique et spécial -->
<section class="text-center py-8">
    <h1>Espace Karibu</h1>
    <h2 class="">Un espace unique et spécial</h2>
    <p class="max-w-[1000px] mx-auto text-black px-3 sm:text-lg">
        <!-- Justifier le texte  -->
        {{ espace.description }}
        <!-- flex text-black -->
    </p>
</section>



<!-- Partie contact -->
<hr>
<section class="text-center pt-3">
    <h1 class="uppercase font-semibold ">
        Besoin de visiter l'espace?
    </h1>
    <h1 class="text-xl font-semibold">Contactez-nous</h1>
    <p class="text-lg px-5 text-black">
        Anyama, en face de la Paroisse Notre dame de la paix, côte d'ivoire <br>
    </p>
    <p class="text-2xl pt-3 font-bold text-black"> 📞 +225 0708034575 <span class="text-red-500">(24h/7j)</span></p>
    <p class="text-black text-2xl">
        espacekaribu1308@gmail.com
    </p>


    <!-- <h2 class=" text-lg sm:font-bold sm:text-3xl font-extrabold ">
        Votre événement mérite un espace d'exception
    </h2>
    <p class="">
        Nos différents tarifs , pour le moins abordable sont faits pour le bonheur de tous
    </p> -->
</section>

{% endblock %}