{% extends 'utilisateur/base.html' %}
{% load static %}

{% block title %}
	Acceuil
{% endblock %}

{% block content %}

    {% include 'utilisateur/slider.html' %}

 
   <!-- <h1 class="hidden md:block text-xl md:text-4xl font-bold text-center text-violet-600 uppercase">
      Avantages
    </h1>-->

  <section class="sm:py-0"> 

     <!-- L'espace entre les avantages -->
    <div class="flex mt-[50px] px-[50px] justify-around sm:justify-center sm:space-x-[150px]">
      
      <div class="text-center mt-1 flex-col flex "> 
        <a href="" class="bg-gray-300 border mx-5 p-10 rounded-full">
            <img src="{% static 'karibu/assets/icons/wifi.png' %}" alt="logo" class="w-10">
          </a>
        <p class="text-center font-bold">Wifi</p>
      </div> 

      <div class="text-center mt-1 flex-col flex "> 
        <a href="" class="bg-gray-300 border mx-5 p-10 rounded-full">
            <img src="{% static 'karibu/assets/icons/servir.png' %}" alt="logo" class="w-10">
          </a>
        <p class="text-center font-bold">room serices</p>
      </div>

      
    </div> 



  </section>

    <h2 class="sm:mt-10 lg:text-3xl text-center text-violet-600 mt-5 font-bold ">
      Des logements avec tout le confort néccessaire
    </h2>
  
    <p class="text-lg text-center mt-3 px-10 ">
      Trouvez des logements entiers pour vos séjour et plus encore      
    </p> 

    {% include 'utilisateur/slide.html' %}
    
    <!-- Le boutton afficher plus -->
     <div class="justify-end flex sm:mb-5 container mx-auto">
     <a class="mt-[50px] text-black ring ring-black
       items-center py-2 px-[24px] mx-5 
       rounded-lg" 
       href="{% url 'chambreDisponible' %}">
         Afficher plus
    </a>
    </div> 

    <!-- images et texte juste avant le bouton reservez -->
    <section class="py-3 flex flex-col sm:flex-row max-w-4xl mx-auto">
      <div class="text-lg mx-10 flex-wrap">
        <img src="{% static 'karibu/assets/icons/confiance.png' %}" alt="logo securité" class="w-8 mx-10 mt-12 mb-2">
        <p>
          Trouvez des logements entiers pour vos séjour et plus encore Trouvez des logements entiers pour vos séjour et plus encore 
        </p>
      </div>

      <div class="text-lg mx-10 flex-wrap">
      <img src="{% static 'karibu/assets/icons/confiance.png' %}" alt="logo securité" class="w-8 mx-10 mt-12 mb-2">
      <p>
        Trouvez des logements entiers pour vos séjour et plus encore Trouvez des logements entiers pour vos séjour et plus encore 
      </p>
    </div>

    </section>



    <!-- Le boutton reservez
     <button class="mt-[50px] text-white bg-violet-500
     items-center justify-start flex py-2 px-[45px] text-center
    mx-auto rounded-lg" 
    type="submit">
      Reservez 
    </button> -->

   
      <!-- class="mt-[50px] text-white
              flex items-center justify-center py-2 px-[45px] text-center
              mx-auto rounded-lg"> -->


              <!-- <div class="mx-auto flex items-center justify-center">

                  <a href="{% url 'chambreDisponible' %}"
                      class="bg-violet-500 ">
                            Reservez
                          
                </a>
              </div> -->



    <div class="justify-center flex sm:mb-5">
        <a class="mt-5 text-white bg-violet-500
                 items-center py-2 px-5 rounded-lg"
           href="{% url 'chambreDisponible' %}">
            Reservez
        </a>
    </div>


{% endblock %}
