{% extends 'utilisateur/base.html' %}

{% block title %}
	Page de réservation
{% endblock %}

{% block content %}

<section class="mx-auto relative w-76 py-3 mt-5 md:w-[500px] shadow-lg rounded-lg">
    <h2 class="font-bold text-lg text-center">
        Votre choix
    </h2>

    <!-- <div class=""> -->
        <div> 
            <img src="{{ detailChambre.photo1.url }}" class=" w-[250px] mx-auto mt-10 sm:w-[400px] lg:w-[350px]">
            <h3 class=" font-semi-bold text-lg text-center mt-10">{{ detailChambre.description }}</h3>
        </div> 
    <!-- </div> -->

    <h2 class="font-bold text-lg text-center my-7">
        Réservation
    </h2>

<section class="relative px-10">
    <form method="POST" class="block">
            {% csrf_token %}
        
            {{ form.as_p }}
        
            <button type="submit" class="bg-violet-600 justify-center text-white items-center mx-auto mt-3 py-3 w-full rounded-md text-white">
                envoyer
            </button>
        
    </form>
</section>

</section>


{% endblock %}


 