{% extends 'utilisateur/base.html' %}
{% load static %}

{% block title %}
	Reservation
{% endblock %}

{% block fond %}
    bg-gray-50
{% endblock %}

{% block header %}


	<section class="relative py-4">

        <nav class="fixed top-0 z-20 bg-zinc-600 w-full grid grid-cols-none p-3 shadow-xl
         md:shadow-none mx-auto md:relative max-w-7xl">

        <div class="flex items-center justify-between w-full">

            <a href="/">
                <img src="{% static 'karibu/assets/images/logo1.png' %}" alt="logo app" class="w-12 h-12">
            </a>
            <a href="{% url 'profil' %}" class="font-medium text-lg text-white c
              hover:text-gray-900 hidden md:block">Profile</a>

              <a href="{% url 'deconnexion' %}" class="font-medium text-lg text-white font-white
              hover:text-gray-900 hidden md:block">Logout</a>

            <button class="icone-toggle bg-white rounded p-2 inline-flex items-center
            justify-center ring-1 ring-black ring-opacity-20 md:hidden">

            <img src="{% static 'karibu/assets/images/menu.png' %}" alt="menu toggle" class="w-6 h-6 ">
            </button>
        </div>

        <ul class="toggle-menu hidden px-1 md:pt-0 pt-6 bg-gray-800 flex flex-col md:flex md:bg-transparent
         md:flex-row md:space-x-10 md:w-auto md:items-center md:justify-center">

         <!-- Profile : ajout de md:hidden et de text-white text-white font-white-->
         <li class="py-2 text-center border-t border-b border-gray-200 md:border-0 md:hidden">
            <a href="{% url 'profil' %}" class="font-medium text-lg text-white c
              hover:text-gray-900">Profile</a>
         </li>

         <!-- Mettre la route home ici -->
         <li class="py-2 text-center border-t border-b border-gray-200 md:border-0 md:hidden">
            <a href="{% url 'deconnexion' %}" class="font-medium text-lg text-white font-white
              hover:text-gray-900">Logout</a>
         </li>
        </ul>

        </nav>

    </section>

{% endblock %}

{% block content %}
            <section class="max-w-7xl mx-auto px-4 py-10">
                <h2 class="text-black py-4 mb-3">Vos Réservations de l'Espace</h2>
                <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    {% for espace in reservEspaces %}
                    <div class="border py-4 px-4">
                        <img src="{{ espace.espace.photo1.url }}" alt="image" class="w-full h-48 object-cover">
                        <h3 class="text-black text-sm text-center py-3 font-bold">{{ espace.espace.description }} </h3>
                        <h3 class="text-black  text-sm text-center py-3 font-bold">{{ espace.date_arrivee }} </h3>
                        <h3 class="text-black  text-sm text-center font-bold">{{ espace.etat }} </h3>
                        <h3 class="text-black  text-sm text-center font-bold">{{ espace.espace.prix }} </h3>
                    </div>
                    {% endfor %}
                </div>


                <h2 class="text-black py-4 mb-3">Vos Réservations de Logement</h2>
                <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    {% for chambre in reservChambres %}
                    <div class="border py-4 px-4">
                        <img src="{{ chambre.photo_chambre.url }}" alt="image" class="w-full h-48 object-cover">
                        <h3 class="text-black  text-sm text-center py-3 font-bold">date d'arrivée: {{ chambre.date_arrivee }} <br> heure d'arrivée: {{ chambre.heure_arrivee }}</h3>
                        <h3 class="text-black  text-sm text-center font-bold">{{ chambre.etat }} </h3>
                        <h3 class="text-black  text-sm text-center font-bold">total: {{ chambre.total }} FCFA</h3>
                    </div>
                    {% endfor %}
                </div>


                <a href="{% url 'profil' %}" class="text-black rounded px-3 py-2 flex mt-5">Retour</a>
            </section>
{% endblock %}