<div  class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div  id="carouselExampleControls" data-bs-ride="carousel"
        class="carousel slide carousel-fade light_arrow">
        <div  class="carousel-inner">
            <div  class="carousel-item active background_bg object-cover"
                data-img-src="{{ espace.photo1.url }}"
                style="background-image: url('{{ espace.photo1.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}" style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  class="carousel-item background_bg object-cover"
                data-img-src="{{ espace.photo2.url }}"
                style="background-image: url('{{ espace.photo2.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}"
                                        style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  class="carousel-item background_bg object-cover"
                data-img-src="{{ espace.photo3.url }}"
                style="background-image: url('{{ espace.photo3.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}"
                                        style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  class="carousel-item background_bg object-cover"
                data-img-src="{{ espace.photo4.url }}"
                style="background-image: url('{{ espace.photo4.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}"
                                        style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  class="carousel-item background_bg object-cover"
                data-img-src="{{ espace.photo5.url }}"
                style="background-image: url('{{ espace.photo5.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}"
                                        style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  class="carousel-item background_bg object-cover"
                data-img-src="{{ espace.photo6.url }}"
                style="background-image: url('{{ espace.photo6.url }}');">
                <div  class="banner_slide_content object-cover">
                    <div  class="container">
                        <div  class="row">
                            <div  class="col-lg-7 col-9">
                                <div  class="banner_content overflow-hidden">
                                    <h2  data-animation="slideInLeft"
                                        data-animation-delay="1s" class="text-white staggered-animation animated slideInLeft"
                                        style="animation-delay: 1s; opacity: 1;">Espace évenementiel</h2><a
                                         data-animation="slideInLeft"
                                        data-animation-delay="1.5s"
                                        class="text-white btn btn-fill-out rounded-0 staggered-animation text-uppercase animated slideInLeft"
                                        href="{% url 'reservationEvent' %}"
                                        style="animation-delay: 1.5s; opacity: 1;">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div><a  href="#carouselExampleControls" role="button" data-bs-slide="prev"
            class="carousel-control-prev"><i  class="ion-chevron-left"></i></a><a
             href="#carouselExampleControls" role="button" data-bs-slide="next"
            class="carousel-control-next"><i  class="ion-chevron-right"></i></a>
    </div>
</div>