{% load static %}

<div class="flex items-center justify-center min-h-20">
    <div class="container swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
            
            {% if chambre %}
                
                {% for chambre in chambre %}
                	
                    <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{{ chambre.photo1.url }}" alt="Card Image"
                         class="card-image object-cover">
                        <p class="bagde">
                            {% if chambre.suite %}
                                SUITE
                            {% elif chambre.chambre_climatisee %}
                                CHAMBRE CLIMATISEE
                            {% else %}
                                CHAMBRE VENTILEE
                            {% endif %}
                        </p>
                        <h2 class="card-title">{{ chambre.description }} </h2>
                        <h2 class="card-title">Nuitée: {{ chambre.prix_nuite }}  </h2>
                        <h2 class="card-title">Journée: {{ chambre.prix_journee }}  </h2>
                        
                    </a>
                </li>
                    
                {% endfor %}
                
            {% endif %}
                
            </ul>
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            
        </div>
    </div>
</div>


